body {
    font-family: 'Roboto Condensed', sans-serif;
}


.nav {
  margin: 0;
  padding: 0;
}
.navbar-brand>img {
  width: 70px;
}

i {
  color:white; 
  text-decoration: none;
}


/*styling open close button*/
.btnham {
  font-size:40px;
}

.btnham a {
  text-decoration:none;
}
/*.btn-open:after {
  color:#FFF;
  content:"\f0c9";
  font-family:"FontAwesome";
  transition-property:all .2s linear 0s;
  -moz-transition:all .2s linear 0s;
  -webkit-transition:all .2s linear 0s;
  -o-transition:all .2s linear 0s;
}
.btn-open:hover:after {
  color:#FFF;
}
.btn-close:after {
  color:#FFF;
  content:"\f00d";
  font-family:"FontAwesome";
  z-index: 3;
  transition-property:all .2s linear 0s;
  -moz-transition:all .2s linear 0s;
  -webkit-transition:all .2s linear 0s;
  -o-transition:all .2s linear 0s;
}
.btn-close:hover:after {
  color: #FFF;
}*/


/*Carousel*/
.carousel-item p {
  font-size: 0.8rem;
}

.carousel-inner {
  margin-bottom: 50px;
}


.carousel-caption {
  text-align: right;
  padding: 5px 10px;
  right: 0;
  bottom: -10px;
  background: rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 0.8rem black;
}

.carousel-indicators li { 
  box-shadow: 0 1px 0.4rem rgba(0, 0, 0, 0.5);
  bottom: -50px;
}

ol.carousel-indicators li,
ol.carousel-indicators li.active {
  position: relative;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  border-radius: 0;
  border: 0;
  border-radius: 80%;
  background: transparent;
}

ol.carousel-indicators li.active {
  position: relative;
  z-index:-1;
  background: #4B8DD6;
}




/* The Overlay (background) */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.3s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #4B8DD6;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}