body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #E5E8E8;
    background-image: url("../img/cubes.png");
    background-repeat: repeat;
}


.nav {
  margin: 0;
  padding: 0;
}
.navbar-brand>img {
  width: 70px;
}

.fa-bars {
  font-size: 2rem;
}

.navbar-text {
  font-size: 1.6rem;
  padding: 0;
}
i {
  color:white; 
  text-decoration: none;
}


/*styling open close button*/
.btnham {
  font-size:40px;
}

.btnham a {
  text-decoration:none;
}
/*.btn-open:after {
  color:#FFF;
  content:"\f0c9";
  font-family:"FontAwesome";
  transition-property:all .2s linear 0s;
  -moz-transition:all .2s linear 0s;
  -webkit-transition:all .2s linear 0s;
  -o-transition:all .2s linear 0s;
}
.btn-open:hover:after {
  color:#FFF;
}
.btn-close:after {
  color:#FFF;
  content:"\f00d";
  font-family:"FontAwesome";
  z-index: 3;
  transition-property:all .2s linear 0s;
  -moz-transition:all .2s linear 0s;
  -webkit-transition:all .2s linear 0s;
  -o-transition:all .2s linear 0s;
}
.btn-close:hover:after {
  color: #FFF;
}*/


/*Carousel*/
.carousel-item p {
  font-size: 0.8rem;
}

.carousel-inner {
  margin-bottom: 50px;
}


div.carousel-caption {
  text-align: right;
  padding: 5px 10px;
  right: 0;
  left: 0;
  bottom: -10px;
  background: rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 0.8rem black;
}

.carousel-indicators li { 
  box-shadow: 0 0.2px 0.1rem rgba(0, 0, 0, 0.5);
  bottom: -50px;
}

ol.carousel-indicators li,
ol.carousel-indicators li.active {
  position: relative;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  border-radius: 0;
  border: 0;
  border-radius: 80%;

  
}

ol.carousel-indicators li.active {
  position: relative;
  z-index:-1;
  background: #4B8DD6;
}




/* The Overlay (background) */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.3s;
}

.overlay-content {
    position: relative;
    top: 20%;
    width: 100%;
    left: 35%;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 2rem;
    color: #4B8DD6;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 15px;
    right: 45px;
    font-size: 1.5rem;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}


/* Games "Cards" */
div.games {
  margin-top: 35px;
  padding: 10px;
  width: 100%;
  height: 180px;
  border-radius: 10px;
  background: linear-gradient(#19a620,#074a19);
  color: #fff;
}

@media screen and (min-width: 480px) {
  div.games {
    width: 480px;
    margin: 15px auto;
  }
}

div.card-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 25%;
}

div.card-row--middle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
}

div.card-info--left {
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

div.card-info--right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

div.card-day {
  margin-left: 5px;
}

div.card-location {
  display: flex;
  align-items: center;
  margin-left: 5px;

}

div.card-time {
  margin-right: 5px;
}

div.card-team {
  display: flex;
  font-size: 2.8rem;
  margin-left: 10px;
  margin-right: 10px;
}

div.card-moreinfo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  background-color: #E5E8E8;
  height: 35px;
  border-radius: 5px;
}

.card-text {
  font-size: 1.6rem;
  font-weight: 300;
  color: #fff;
}

.card-text--small {
  font-size: 1rem;
}

.card-text--moreinfo {
  text-align: center;
  font-size: 1.2rem;
  color: #4B8DD6;
}

a:hover, a:visited, a:link, a:active .link--moreinfo {
  text-decoration: none;
}


#icon-calendar {
  width: 40px;
  height: 40px;
  margin-top: -3px;
}

#icon-share {
  width: 30px;
  height: 30px;
  margin-top: 2px;
}

#icon-pin {
  width: 30px;
  height: 30px;
 }


